#footer {
    border-radius: 25px;
    border: 1px solid $border-color;
    height: auto;
    margin: 25px auto 0 auto;
    padding: 30px 50px;
    width: 450px;
    font-family: $font-regular;

    a {
        color: black;
    }

    a:hover {
        text-decoration: none;
    }
}