#goBackButton {
    cursor: pointer;
    display: none;
    font-family: $font-bold;
    font-size: 24px;
    text-decoration: underline;
    user-select: none;

    &:hover {
        text-decoration: none;
    }
}