@font-face {
    font-family: 'Open Sans Bold';
    src: url(../assets/OpenSansBold.ttf);
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(../assets/OpenSansRegular.ttf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../assets/OpenSansLight.ttf);
}