@import '_fonts';


#card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    height: 350px;
    margin: 100px auto 0 auto;
    padding: 65px;
    width: 450px;

    &CityForm {
        &Header {
            font-family: 'Open Sans Bold';
            font-size: 64px;
        }

        &Input {
            border: none;
            border-bottom: 1px solid black;
            font-family: 'Open Sans Regular';
            font-size: 32px;
            outline: none;
            padding-bottom: 16px;
        }

        &Help {
            font-family: 'Open Sans Light';
            font-size: 16px;
        }
    }
}