@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/OpenSansBold.ttf);
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url(../assets/OpenSansRegular.ttf);
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../assets/OpenSansLight.ttf);
}

#cardHeader {
  font-family: 'Open Sans Bold';
  font-size: 72px;
}

#cardCityFormInput {
  border: none;
  border-bottom: 1px solid black;
  font-family: 'Open Sans Regular';
  font-size: 40px;
  height: 40px;
  outline: none;
  padding-bottom: 16px;
}

#cardCityFormHelpText {
  font-family: 'Open Sans Light';
  font-size: 24px;
}
