@font-face {
  font-family: 'OpenSansLight';
  src: url('./assets/fonts/OpenSansLight.ttf');
  font-style: normal;
}

body {
    background-color: black;
    font-family: OpenSansLight;
    color: white;
}